body {
    margin: 0;
    overflow: hidden;
    background: #000;
}

span {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eef;
    z-index: 1;
    font-family: 'Verdana', sans-serif;
    font-size: 7vmin;
    font-weight: bold;
    text-shadow: 0 0 20px red;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}